{% extends 'layouts/base.html' %}
{% load static %}
{% load total_minutes %}

{% block content %}

    <section class="course-header-area">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-lg-8">
                    <div class="course-header-wrap">
                        <h1 class="title">{{ course.title }}</h1>
                        <p class="subtitle">{{ course.short_description|truncatewords:20 }}</p>
                        <div class="rating-row">
                            <!-- {#                            {{ --<span class="course-badge best-seller">Best seller</span>--}}#} -->
                                                {% if course.rating == 1 %}
                                                    <i class="fas fa-star filled"></i>
                                                {% elif course.rating == 2 %}
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                {% elif course.rating == 3 %}
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                {% elif course.rating == 4 %}
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                {% elif course.rating == 5 %}
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                {% else %}
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                {% endif %}
                            <span class="d-inline-block average-rating"></span>
                            <span>({{course.rating_count}} ratings)</span>
                            <!-- <span class="enrolled-num">
                                100 students enrolled
                            </span> -->
                        </div>
                        <div class="created-row">
                            {#                            {{ --<span class="created-by">--}}#}
                            {#                            {{ --Created by--}}#}
                            {#                            {{ --<a href="">first_name last_name</a>--}}#}
                            {#                            {{ --</span>--}}#}
                            <span class="last-updated-date">Created on {{ course.created_at|date }}</span>
                            <span class="last-updated-date">Last updated on {{ course.updated_at|date }}</span>
                            <span class="comment">
                                <i class="fas fa-comment"></i>English
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">

                </div>
            </div>
        </div>
    </section>

    <section class="course-content-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">

                    <div class="what-you-get-box">
                        <div class="what-you-get-title">What will I learn?</div>
                        <ul class="what-you-get__items">
                            <li>{{ course.outcome }}</li>
                        </ul>
                    </div>
                    <br>
                    <div class="course-curriculum-box">
                        <div class="course-curriculum-title clearfix">
                            <div class="title float-left">Lessons for this course</div>
                            <div class="float-right">
                                <span class="total-lectures">
                                    {{ course.lessons.count }} lessons
                                </span>
                                <span class="total-time">
                                    {{ course.lessons|total_minutes }}
                                </span>
                            </div>
                        </div>
                        
                        {% for chap, all_lessons in lesson_chapters.items %}
                        <div class="course-curriculum-accordion" id="accordion_{{chap.id}}">

                            <div class="lecture-group-wrapper" id="panel_{{chap.id}}">
                                <div class="lecture-group-title clearfix" data-toggle="collapse"
                                     data-target="#collapseOne_{{chap.id}}"
                                     aria-expanded="false">
                                    <div class="title float-left">
                                        {{chap.chapter_name}}

                                    </div>
                                    <div class="title float-right">
                                        {{ all_lessons.1 }}

                                    </div>
                                    
                                </div>
                                
                                <div id="collapseOne_{{chap.id}}" class="lecture-list collapse">
                                    {% for lesson in all_lessons.0 %}
                                    <ul>
                                        
                                            <li class="lecture has-preview">
                                                {{ lesson.title }}
                                                <!-- <span class="lecture-title">{{ lesson.title }}</span> -->
                                                <span class="lecture-time float-right">{{ lesson.split_duration }}</span>
                                                <!-- <span class="lecture-preview float-right" data-toggle="modal" data-target="#CoursePreviewModal">Preview</span> -->
                                            </li>
                                        
                                    </ul>
                                    {% endfor %}
                                    {% if all_lessons.2 %}
                                    {% for lesson in all_lessons.2 %}
                                    <ul>
                                        
                                            <li class="lecture">
                                                {{ lesson.title }}
                                                <span class="lecture-time float-right">Text</span>
                                            </li>
                                        
                                    </ul>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                                
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="requirements-box">
                        <div class="requirements-title">Requirements</div>
                        <div class="requirements-content">
                            <ul class="requirements__list">
                                <li>{{ course.requirements }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="description-box view-more-parent">
                        <div class="about-instructor-details view-more-parent">
                            <div class="description-title">Description</div>
                            <div class="view-more" onclick="viewMore(this)">+ View More</div>
                                <div class="instructor-name">
                                    <a href=""></a>
                                </div>
                            <div class="instructor-bio" style="">
                                {{ course.description }}
                            </div>
                        </div>
                    </div>


                    <div class="compare-box view-more-parent">
                        <div class="view-more" onclick="viewMore(this)">+ View More</div>
                        <!-- <div class="compare-title">Other Related Courses</div>
                        <div class="compare-courses-wrap">

                        </div> -->
                    </div>

                    <div class="about-instructor-box">
                        <div class="about-instructor-title">
                            About the instructor 
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="about-instructor-image">
                                    <!-- <img src="" alt="" class="img-fluid"> -->
                                    <h2 style="color: #0e8299;">{{course.instructor}}</h2>
                                    <div class="about-instructor-details view-more-parent">
                                    <div class="view-more" onclick="viewMore(this)">+ View More</div>
                                    <div class="instructor-name">
                                        <a href=""></a>
                                    </div>
                                    <div class="instructor-bio">
                                        {{course.instructor.brief_info}}
                                    </div>
                                    </div>
                                    <ul>
                                        <!-- <li>
                                            <i class="fas fa-comment"></i><b>
                                            100
                                        </b> reviews
                                        </li> -->
                                        <li><i class="fas fa-user"></i><b>
                                            {{instructor_enrolled}}
                                        </b> Students
                                        </li>
                                        <li>
                                            <i class="fas fa-play-circle"></i>
                                            <b>
                                                {{instructor_courses}}
                                            </b> Courses
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                
                            </div>
                        </div>
                    </div>

                    
                </div>
                <div class="col-lg-4">
                    <div class="course-sidebar natural">
                        <div class="preview-video-box">
                            <iframe width="100%" height="200" class="embed-responsive-item"
                                src="{{course.ytb_preview}}" frameborder="0"
                                allowfullscreen>
                            </iframe>
                        </div>
                        <div class="course-sidebar-text-box">
                            <div class="price">
                                <span class="current-price">
                                    ₹<span class="current-price">{{ course.price }}</span></span>
                                <input type="hidden" id="total_price_of_checking_out" value="{{ course.price }}">
                            </div>

                            {#                            {{ --<div class="buy-btns">--}}#}
                            {#                            {{ --<button class="btn btn-buy-now" type="button">Already purchased</button>--}}#}
                            {#                            {{ --</div>--}}#}
                            <div class="buy-btns">
                                {% if is_enrolled %}
                                    <button class="btn btn-add-cart" type="button"
                                            style="background-color: #00796b; border-color: #08796f; color: #ffffff">
                                        Enrolled to course
                                    </button>
                                {% else %}
                                    {% if is_in_cart %}
                                        {#                                    <a href="" class="btn btn-buy-now" id="course_2" onclick="handleBuyNow(this)">Buy#}
                                        {#                                        now</a>#}
                                        <button class="btn btn-add-cart" type="button"
                                                style="background-color: #ec5252; border-color: #ec5252; color: #ffffff">
                                            Added to cart
                                        </button>
                                    {% else %}
                                        <form action="{% url 'cart:cart_add' course.slug %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" value="" name="course_id">
                                            <input type="hidden" value="" name="name">
                                            <input type="hidden" value="" name="price">
                                            <input type="hidden" value="1" name="quantity">

                                            <button class="btn btn-add-cart" type="submit" id="cart">Add to cart
                                            </button>
                                        </form>
                                    {% endif %}
                                {% endif %}
                            </div>

                            <div class="includes">
                                <div class="title"><b>Includes:</b></div>
                                <ul>
                                    <li>
                                        <i class="far fa-file-video"></i>
                                        On demand videos
                                    </li>
                                    <li>
                                        <i class="far fa-file"></i> 30 lessons
                                    </li>
                                    <li><i class="far fa-compass"></i>Full lifetime access
                                    </li>
                                    <li>
                                        <i class="fas fa-mobile-alt"></i>Access on mobile and tv
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
